<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WpfApp3.Properties.Settings.NorthVilleDatabase_by_RM_AND_JSConnectionString"
            connectionString="Data Source=HERZSPRUNG\SQLEXPRESS;Initial Catalog=&quot;NorthVilleDatabase by RM AND JS&quot;;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="WpfApp3.Properties.Settings.FacultyEvaluationConnectionString"
            connectionString="Data Source=AEON\SQLEXPRESS02;Initial Catalog=FacultyEvaluation;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>